> Import Library

In [11]:
# Import Library

import pickle
import json
import pandas as pd
import numpy as np

> Load file

In [12]:
# Load All Files

with open('satisfication_model.pkl', 'rb') as file_1:
  model = pickle.load(file_1)

with open('list_num_cols.txt', 'r') as file_2:
  list_num_cols = json.load(file_2)

with open('list_cat_nom.txt', 'r') as file_3:
  list_cat_nom = json.load(file_3)

with open('list_cat_ord.txt', 'r') as file_4:
  list_cat_ord = json.load(file_4)

> Membuat data baru

In [13]:
data_inf = {
    'Gender': 'Male',
    'Customer Type': 'disloyal Customer',
    'Age': 20,
    'Type of Travel': 'Business travel',
    'Class': 'Eco',
    'Flight Distance': 192,
    'Inflight wifi service': 2,
    'Departure/Arrival time convenient': 3,
    'Ease of Online booking': 3,
    'Gate location': 4,
    'Food and drink': 5,
    'Online boarding': 5,
    'Seat comfort': 3,
    'Inflight entertainment': 5,
    'On-board service': 4,
    'Leg room service': 3,
    'Baggage handling': 1,
    'Checkin service': 1,
    'Inflight service': 2,
    'Cleanliness': 5,
    'Departure Delay in Minutes': 0,
    'Arrival Delay in Minutes': 6.0
}

data_inf = pd.DataFrame([data_inf])
data_inf

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,disloyal Customer,20,Business travel,Eco,192,2,3,3,4,...,3,5,4,3,1,1,2,5,0,6.0

> Pembagian kolom berdasarkan tipe datanya

In [14]:
# Split between Numerical Columns and Categorical Columns

num_columns = list_num_cols
cat_ordinal = list_cat_ord
cat_nominal = list_cat_nom

> Modelling dan Predict

In [15]:
y_pred = model.predict(data_inf)
y_pred

array([0], dtype=int64)

> Menginput hasil prediksi ke dalam dataframe

In [16]:
data_inf["Satisfication"] = y_pred 
data_inf

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfication
0,Male,disloyal Customer,20,Business travel,Eco,192,2,3,3,4,...,5,4,3,1,1,2,5,0,6.0,0